pro_token        = "my-pro-token"
source_image     = "noble"
account_name     = "standalone"
fqdn             = "landscape.example.com"
registration_key = "key"

instances = [

  {
    computer_title   = "ls-client"
    additional_cloud_init = <<EOT
#cloud-config
packages:
  - zsh
users:
  - name: ubuntu
    shell: /usr/bin/zsh
    sudo: ALL=(ALL) NOPASSWD:ALL
EOT

  },


  {
    computer_title   = "ls-client2"
  },

]
