pro_token        = "my-pro-token"
account_name     = "standalone"
fqdn             = "landscape.example.com"
registration_key = "key"

instances = [

  {
    image_alias           = "noble"
    computer_title        = "ls-client"
    additional_cloud_init = <<EOT
#cloud-config
apt:
  sources:
    fish-ppa:
      source: "ppa:fish-shell/release-4"
packages:
  - fish
  - landscape-client
users:
  - name: ubuntu
    shell: /usr/bin/fish
    sudo: ALL=(ALL) NOPASSWD:ALL
EOT

  },


  {
    image_alias    = "jammy"
    computer_title = "ls-client2"
  },

]
